{% extends "blog/index.html" %}

{% load bootstrap5 %}
{# Load CSS and JavaScript #}
   {% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% bootstrap_messages %}

{% block  cuerpo %}
     <main class="vw-100 p-3" style="background-image:url(https://i.ibb.co/PrJvjLv/tolk-ins-5.jpg); background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: cover; height: 78%;">

     
<div class="container col-md-8 mt-3" style="background-color: white; opacity: 0.85; border-radius: 20px;">
        <h1 class="text-center p-3 text-primary">Sobre el colegio Tolkien</h1>
 
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <h3 class="pb-3 text-center">El mundo cambia, la educación también</h3>
                        <p>Acompañamos a nuestros alumnos con educación de calidad, potenciando sus capacidades espirituales, emocionales, intelectuales y físicas. Nuestra propuesta formativa está sustentada en valores, de manera que los alumnos y egresados puedan realizar su proyecto de vida, conscientes de la responsabilidad de tratar a los demás como les gustaría ser tratados a ellos mismos, viviendo de manera íntegra, amorosa y comprometida con la sociedad.</p>
                        <p>Acompañamos a nuestros alumnos con educación de calidad, potenciando sus capacidades espirituales, emocionales, intelectuales y físicas. Nuestra propuesta formativa está sustentada en valores, de manera que los alumnos y egresados puedan realizar su proyecto de vida, conscientes de la responsabilidad de tratar a los demás como les gustaría ser tratados a ellos mismos, viviendo de manera íntegra, amorosa y comprometida con la sociedad.</p>
                        <h3 class="pb-3 text-center"><a href="https://www.colegiotolkien.edu.ar/">Visita nuestro sitio</a></h3>
                    </div>
                </div>
    
        </div>
    </div>
       </main>
      {% endblock %} 