{% extends "blog/index.html" %}

{% load bootstrap5 %}
{# Load CSS and JavaScript #}
   {% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% bootstrap_messages %}

{% block  cuerpo %}

<main class="container-fluid p-5" style="background-image:url(https://i.ibb.co/qr4KXhm/FT-9894-copia.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover; height: 80%; ">
  


<div class="container col-lg-4 p-2 justify-content-center align-item-center" style="background-color: white; opacity: 0.8;">
    <div class="col-ms-4 text-center justify-content-center ">
        <div class="row justify-content-center">
        <h3><a href="{% url 'index' %}">Gracias por visitarnos</a></h3>
    </div>
    </div>
</div>

    </main>

  {% endblock %}
