{% extends "blog/blog_list.html" %}

{% load bootstrap5 %}
{# Load CSS and JavaScript #}
   {% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% bootstrap_messages %}

{% block  cuerpo %}
<main class="vw-100 vh-75 p-3" style="background-image:url(https://i.ibb.co/P5n2G0j/FT-9833-copia.jpg); background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: cover;">
    <div class="container" style="background-color: white; opacity: 0.9; border-radius: 20px; width: 40rem;">
    <h1 class="text-center p-3 text-primary">Nuevo blog</h1>
<form method="post" class="">
   
    {% csrf_token %}
    {{ form.as_p }}

    <div class="text-center">
    <input class="btn btn-primary text-center mb-3" type="submit" value="Guardar">
</div>
</form>
    </div>
</main>
{% endblock %}
