{% extends "blog/index.html" %}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% bootstrap_messages %}
{% block  cuerpo %}
<div class="container px-4 px-lg-5">
    {% for blog in blogsPublicos %}
    <h1>{{blog.titulo}}</h1>
    {% if blog.image %}
     <span><img height="160" src= "/media/{{ blog.image }}"></span>
    {% endif %}
    <p><h2>{{blog.sub_titulo}}</h2></p>
    <p> {{blog.cuerpo}} </p>
    
    <div class="bottom-item">
        {% for usrimg in usravatar %}
        {% if usrimg.user_id == blog.autor_id %}
        <span class="text-center pt-3 text-primary">Publicado el {{blog.fecha_creacion|date:"d-M-Y"}} por {{blog.autor}} <img src= "/media/{{ usrimg.image }}" height="50" style="border-radius:50%;"></span>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
<p></p>
{% endblock %} 