{% extends "blog/index.html" %}

{% load bootstrap5 %}
{# Load CSS and JavaScript #}
   {% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% bootstrap_messages %}

{% block  cuerpo %}

<main class="vw-100 p-3" style="background-image:url(https://www.wallpaperuse.com/wallp/83-838112_m.jpg); background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: cover; height: auto;">
      
    <div class="container" style="background-color: white; opacity: 0.95; border-radius: 20px;">
<section class="page-section  text-center p-3" id="team">
    <div class="container text-center">
        <div class="text-center">
            <h2 class="section-heading text-center p-3 text-primary">Nuestro equipo</h2>
            <h4 class="section-subheading text-muted">CoderHouse - Python</h4>
            <h5 class="section-subheading text-muted">Profesor: Germán Martinez & Tutor: Daniel Verdún.</h5>
        </div>
        <div class="row p-3">
            <div class="col-lg-4 text-center">
                <div class="team-member text-center">
                    <img class="mx-auto rounded-circle w-50" src="https://avatars.githubusercontent.com/u/65416731?v=4" alt="..." />
                    <h4>Romina Quispe Real</h4>
                    <p class="text-muted">rominalauraq@yahoo.com.ar</p>
                    <a class="btn btn-primary btn-social mx-2" href="https://github.com/Rominaqr">GitHub</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle w-50" src="https://avatars.githubusercontent.com/u/72225415?s=400&u=1390bf856f1c283c8cf5dd9f9405e607508ad815&v=4" alt="..." />
                    <h4>Romina Garcia Rojas</h4>
                    <p class="text-muted">rominagarciarojas@gmail.com</p>
                    <a class="btn btn-primary btn-social mx-2" href="https://github.com/rominagarciarojas">GitHub</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle w-50" src="https://avatars.githubusercontent.com/u/107409076?v=4" alt="..." />
                    <h4>Rocio Marianela Isa</h4>
                    <p class="text-muted">lorakevo@gmail.com</p>
                    <a class="btn btn-primary btn-social mx-2" href="https://github.com/RocioMarianelaIsa">GitHub</a>
                </div>
            </div>
        </div>
        
    </div>
</section>

    </div>
    </main>
{% endblock %} 